<div class="blc1">
  <img
    class="image"
    src="https://firebasestorage.googleapis.com/v0/b/gestion-des-pharmacies-99b9e.appspot.com/o/8148dfc7-60e7-4069-851b-6a47ca9d4376.png?alt=media&token=d73f2681-0d26-467e-80df-cede12f8c58b"
    alt="Picture is absent"
  />
</div>
<div class="blc1">
  <div class="ac">
    <div class="ab">
      <p>
        <!--manage pharmacies-->
        <b>O</b>ur platform called <b>M.Pharmacies</b> tries to facilitate and
        simplify the search for pharmacies, medications and their details in
        order to save time in urgent cases.
      </p>
    </div>
    <div class="ab">
      <p>
        <b>T</b>ry to use our platform, consume our services and don't forget to
        mention your reviews,you only need to create personal account.
      </p>
    </div>

    <div class="ab">
      <p>
        <b> W</b>e're not going to stop here, we're going to add other services
        like ordering online, buying online and even we're going to deliver some
        medications...
      </p>
    </div>
  </div>
</div>
