<div class="pg"><div class="form-container mat-elevation-z5">
  <h1 class="sg">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <div class="row">
      <mat-form-field>
        <input matInput placeholder="Email address" formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required']">
          Email address is required
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <mat-error *ngIf="password?.errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row1">
      <button
        type="submit"
        mat-raised-button
        color="primary"
      >
        Login
      </button>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        (click)="authService.googleSignin()"
      >
        <img
          src="https://firebasestorage.googleapis.com/v0/b/gestion-des-pharmacies-99b9e.appspot.com/o/google%20logo.png?alt=media&token=b2bc6bf6-7f15-44a7-9ccf-33ddd27848bb"
          alt="absent"
          height="20px"
          width="20px"
        />
        Continue with google
      </button>
    </div>
    <div class="lien">
      <span class="center margin-top"
        >New to our platform?
        <a class="sign-up-link" routerLink="/sign-up">Sign up!</a></span
      >
    </div>
  </form>
</div></div>

