<div class="bg">
  <div class="blc">
    <div class="titre">
      <span> Welcome here! </span>
    </div>
    <div class="parag">
      <p>
        <span>
          Please click on the button above
          <span class="lg"> << Login >> </span>to consume our services.
        </span>
      </p>
    </div>
  </div>

  <div>
    <img
      class="img1"
      width="750px"
      height="445px"
      src="https://firebasestorage.googleapis.com/v0/b/gestion-des-pharmacies-99b9e.appspot.com/o/medicament-en-ligne-pharmacie-gdd.1a31d028.png?alt=media&token=a3c73240-51bf-42ec-ab88-3e67b1012be3"
    />
  </div>
</div>
